<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <title>Sleep</title>
  <style>
    body {
      padding: 15px;
      background-color: #FFF;
      margin: 0 !important;
    }

    .wrapper {
      width: 100%;
      table-layout: fixed;
    }

    .outer-table {
      border-spacing: 0;
      font-family: sans-serif;
      color: #727f80;
      width: 100%;
      max-width: 610px;
      margin: auto;
      background-color: #FFF;
      margin-bottom: 10px;
    }

    .main-table {
      border-spacing: 0;
      font-family: sans-serif;
      color: #727f80;
      width: 100%;
      max-width: 610px;
      margin: 0 auto;
      background-color: #FFF;
      border-radius: 6px;
    }

    .inner-td {
      padding: 10px;
      font-size: 16px;
      line-height: 20px;
      text-align: justify;
      border-radius: 20px;
      border: 2px solid green;
      margin-top: 10px;
    }

    .h2 {
      margin: 12px;
      font-size: 23px;
      font-weight: 600;
      line-height: 45px;
      color: #4A4A4A;
    }

    .center {
      margin: 0 auto;
      display: table;
      text-align: left;
      max-width: 580px;
      line-height: 24px;
    }

    .button-holder-center {
      margin: 5% 2% 3% 0;
      text-align: center;
    }

    .btn {
      color: red;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
      background: #81BAC6;
      padding: 9px 16px;
      border-radius: 28px;
    }

    .unsubscribe-container {
      color: rgb(0, 0, 0);
      margin-top: 100px;
      font-style: normal;
      font-variant-ligatures: normal;
      font-variant-caps: normal;
      font-weight: normal;
      letter-spacing: normal;
      orphans: 2;
      text-indent: 0px;
      text-transform: none;
      white-space: normal;
      widows: 2;
      word-spacing: 0px;
      -webkit-text-stroke-width: 0px;
      text-decoration-style: initial;
      text-decoration-color: initial;
      font-family: "Times New Roman";
      font-size: medium;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <img src="" width="0" height="0">
    <table class="outer-table">
      <tbody>
        <tr bgcolor="#c4dccc">
          <td valign="center" align="center" width="600">
            <p class="red-text"><span class="font-size-22"><strong>The Stop Snoring And Sleep
                      Apnea Program Review</strong></span><br>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="main-table">
      <tbody>
        <tr>
          <td class="one-column">
            <table width="100%">
              <tr>
                <td class="inner-td">
                  <p class="h2">Hello <%= data.name %>,</p>
                  <p class="h2">What is the Stop Snoring and Sleep Apnea Program?</p>
                  <a href="<%= data.link %>" class="white-link"><img
                      src="https://i.dailymail.co.uk/i/pix/2018/02/21/18/495A5E0200000578-5418971-image-a-49_1519238264313.jpg"
                      class="rounded-img"></a>
                  <p class="center">The Stop Snoring and Sleep Apnea Program was created by Christian Goodman. It is a
                    program that he wrote from his own experience with sleep disorders and it almost broke his marriage.
                    But then a breathing trick explained by his wife completely changed his life. Now, he is here to help
                    numerous other people who share the problem of snoring or sleep apnea with him. The simple breathing
                    exercise doesn’t take long and doing it regularly will definitely decrease the problem over the time
                    leading to complete recovery.</p>
                  <p class="button-holder-center">
                    <a class="btn" href="<%= data.link %>">Learn More</a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="unsubscribe-container">
      <span class="font-size-20"><strong>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf67oNwHEPN2e4VAaNJlTnYc01Eb67JvzIDOvLiZ9D6a52ycg/viewform?usp=pp_url&entry.221105572=<%= data.email %>"
              class="blue-link" target="_blank">Click
              Here To Unsubscribe</a>
        </strong></span>
    </div>
  </div>
</body>

</html>
